In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.config("spark.driver.host", "localhost").getOrCreate()

#to build session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('rdddf').master('local').getOrCreate()
from pyspark.sql.functions import col, isnull

In [5]:
sc=spark.sparkContext

In [6]:
df_load =spark.read.format("csv").option("delimiter",",").option("header","True").load("data.csv")
df_load.show(5)

+------------+--------------------+----------+--------------------+-------------------------+------------------------+-----------------------------+-----------------------------+--------------------+--------------------+-------+
|collision_id|          crash_date|crash_time|      on_street_name|number_of_persons_injured|number_of_persons_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|  vehicle_type_code1|  vehicle_type_code2|borough|
+------------+--------------------+----------+--------------------+-------------------------+------------------------+-----------------------------+-----------------------------+--------------------+--------------------+-------+
|     4456867|2021-09-02T00:00:...|     19:56|MAJOR DEEGAN EXPR...|                        0|                       0|                  Unspecified|                         null|               Sedan|                null|   null|
|     4456988|2021-09-11T00:00:...|     15:45|     BUSHWICK AVENUE|                        0|                       0|         Following Too Clo...|                  Unspecified|Station Wagon/Spo...|                null|   null|
|     4456859|2021-09-07T00:00:...|     22:30|          108 AVENUE|                        0|                       0|         Driver Inattentio...|                  Unspecified|Station Wagon/Spo...|Station Wagon/Spo...|   null|
|     4456663|2021-06-25T00:00:...|     14:35| BEACH CHANNEL DRIVE|                        0|                       0|                  Unspecified|                  Unspecified|       Pick-up Truck|                null| QUEENS|
|     4456624|2021-07-08T00:00:...|     18:40|AVENUE OF THE AME...|                        0|                       0|         Unsafe Lane Changing|                  Unspecified|               Sedan|               Sedan|   null|
+------------+--------------------+----------+--------------------+-------------------------+------------------------+-----------------------------+-----------------------------+--------------------+--------------------+-------+
only showing top 5 rows

In [7]:
borough_freq_df =(df_load.select(col("borough").alias("borough")).groupBy('borough').count().sort('borough').cache())
print('Total distinct Boroughs:', borough_freq_df.count())

Total distinct Boroughs: 6

In [8]:
paths_df = (df_load.select(col("on_street_name")).groupBy('on_street_name').count().sort('count',ascending=False).limit(20))
paths_pd_df = paths_df.toPandas()
paths_pd_df

                on_street_name  count
0                         None    478
1                 BELT PARKWAY     30
2                    FDR DRIVE     26
3      MAJOR DEEGAN EXPRESSWAY     19
4          BRONX RIVER PARKWAY     18
5                     BROADWAY     15
6   BROOKLYN QUEENS EXPRESSWAY     15
7         CROSS ISLAND PARKWAY     14
8           BRUCKNER BOULEVARD     13
9                MYRTLE AVENUE     12
10      LONG ISLAND EXPRESSWAY     12
11            CROSS BRONX EXPY     12
12               FULTON STREET     11
13              VAN WYCK EXPWY     11
14             BUSHWICK AVENUE     10
15                    2 AVENUE     10
16       WHITESTONE EXPRESSWAY     10
17                    3 AVENUE     10
18               OCEAN PARKWAY     10
19    STATEN ISLAND EXPRESSWAY      9

In [9]:
paths_df.filter(paths_df.on_street_name.isNotNull()).show()

+--------------------+-----+
|      on_street_name|count|
+--------------------+-----+
|        BELT PARKWAY|   30|
|           FDR DRIVE|   26|
|MAJOR DEEGAN EXPR...|   19|
| BRONX RIVER PARKWAY|   18|
|            BROADWAY|   15|
|BROOKLYN QUEENS E...|   15|
|CROSS ISLAND PARKWAY|   14|
|  BRUCKNER BOULEVARD|   13|
|       MYRTLE AVENUE|   12|
|LONG ISLAND EXPRE...|   12|
|    CROSS BRONX EXPY|   12|
|       FULTON STREET|   11|
|      VAN WYCK EXPWY|   11|
|     BUSHWICK AVENUE|   10|
|            2 AVENUE|   10|
|WHITESTONE EXPRES...|   10|
|            3 AVENUE|   10|
|       OCEAN PARKWAY|   10|
|STATEN ISLAND EXP...|    9|
+--------------------+-----+

In [10]:
paths_df = (df_load.select(col("on_street_name")).groupBy('on_street_name').count().sort('count',ascending=False))

In [12]:
paths_df.filter(paths_df.on_street_name.isNotNull()).show(5)

+--------------------+-----+
|      on_street_name|count|
+--------------------+-----+
|        BELT PARKWAY|   30|
|           FDR DRIVE|   26|
|MAJOR DEEGAN EXPR...|   19|
| BRONX RIVER PARKWAY|   18|
|            BROADWAY|   15|
+--------------------+-----+
only showing top 5 rows